cloud_provisioning/*
.DS_Store
terraform.tfplan
terraform.tfstate
.vagrant/
.bundle
node_modules/
build
*.backup
.terraform
.idea
.*.swp
*.iml
*.test
*.exe
*.dll
authorized_keys
build/Vagrantfile
packer_cache/
*.box
package.box
*~
*.swp
*.iso
build/*
cloud-provisioning/*
*/tf_aws_vpc/
